<section class="best-wrap p-t-b-80 light-gray" id="extra-feature-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold"> Features</h2>
                <p></p>

            </div>

            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-lock-outline"></i>
                        </div>
                        
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">Data Security</h4>
                            <p class="card-text">Waitabit uses blockstack's Gaia storage to store the data with your own key</p>
                        </div>
                        

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-browser-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">More Insights</h4>
                            <p class="card-text">View and download your secure data in a cleaner and richer way. </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 mb-4 mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-clock-outline"></i>
                        </div>
                        
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">Develop Faster</h4>
                            <p class="card-text">Our simpler API with examples will help you setup waitlist functionality quicker. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6  mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-heart-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">Developer Friendly</h4>
                            <p class="card-text">We provide test playground before you integrate in your website. </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>