body {
    overflow-x: hidden;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  #sidebar-wrapper .list-group {
    width: 20rem;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .sidebar-heading
  {
background-color: #5e72e4;
color: white;
  }
  .sidebar
  {
    background-color:#f6f6f6;
  }

  .icon {
  height: 16px;
  width: 16px;
  display: block;
  /* Other styles here */
}

.nested-menu {
  .list-group-item {
      cursor: pointer;
  }
  .nested {
      list-style-type: none;
  }
  ul.submenu {
      display: none;
      height: 0;
  }
  & .expand {
      ul.submenu {
          display: block;
          width: 20rem;
          list-style-type: none;
          height: auto;
          li {
              a{
                color: #818181;

                  padding: 10px;
                  display: block;
              }
          }
      }
  }
}