<section id="contacts-wrap" class="contact-form-wrap light-gray p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="form-wrap  col-md-6 mb-4">
                <div class="section-header mb-5 ">
                    <h2 class="font-weight-bold ">Get in Touch With Us !</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3  mb-lg-0 mb-md-0">
            <div class=" o-hidden text-left">

                <div class="">
                    <h4 class="card-title font-weight-bold">Made in India</h4>
                    <div class="address-wrap mb-3">

                        <ul class="list-group list-unstyled">
                            <li class=""> <i class="eva eva-pin-outline mr-2"></i>Hebbal,Bangalore</li>

                        </ul>
                    </div>
                    <div class="address-wrap mb-3">

                        <ul class="list-group list-unstyled">
                            <li class=""><i class="eva eva-email-outline mr-2"></i>contact@portgenix.com</li>

                        </ul>
                    </div>

                    <div class="address-wrap mb-3">

                        <ul class="list-group list-unstyled">
                            <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +91 98942 58342</li>

                        </ul>
                    </div>


                    <section class="social-wrap ">

                        <div class="social-btns-wrap">

                            <a class="social-btn text-30 facebook ml-0" href="https://www.facebook.com/wait.abit.1" data-toggle="tooltip" title="https://www.facebook.com/wait.abit.1"><i
                                    class="eva eva-facebook"></i></a>

                            <a class="social-btn text-30 twitter" href="https://twitter.com/Waitabit" data-toggle="tooltip" title="https://twitter.com/Waitabit"><i class="eva eva-twitter"></i></a>

                            <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
