<section id="intro-wrap" class="intro-ten-Wrap bg-primary text-left text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 intro-ten-LeftSection pb-3">
                <h1 class=" font-weight-bold text-white text-42 mb-3 t-shadow">Privacy focused waitlist for your site</h1>
                <p class=" text-20 mb-4">First decentralized waitlist API for developers focused on privacy.</p>
                <div class=" mb-5 lead">
                    <ul class="list-inline">
                        <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Decentralized Data
                        </li>
                        <li class="mb-3"><i class=" eva eva-checkmark-outline mr-2 text-warning"></i> High secure Authentication
                        </li>
                        <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Easy and Simple API</li>
                    </ul>
                </div>
                <div class="intro-ten-Buttons">
                    <a name="" id="" routerLink="/sessions/signin"
                        class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase half-button"
                        href="#" role="button"  (click)="signin();">
                        Get started
                    </a>
                   
                </div>

            </div>
            <div class="col-md-6 intro-ten-RightSection d-flex align-items-center">

                <div class="intro-ten-ProductImage">

                    <img src="./assets/images/landing/svg/v4-header-red.svg" class="img-responsive" alt=""
                        [@animate]="{value:'*',params:{x:'200px',opacity:'0',delay:'100ms', duration: '500ms'}}">
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>

</section>
