<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
    <div class="container"  >
        <div class="row" style="justify-content:center">
            <div class="col-md-12 section-header mb-5" style="text-align:center" >
                <h2 class="font-weight-bold">Pricing</h2>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 bg-gradient text-white">
                        <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">Developer</h3>
                        <p class="text-uppercase mb-0">(Beta)</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="card-text  mb-2">
                            <span class="money text-shadow  text-45 font-weight-bold"><sup
                                    class="text-30 font-weight-normal">Free/Limited</sup></span>
                            <span></span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 ">Single Site</li>
                                <li class="list-group-item p-1 ">Max. 1000 waitlist</li>
                                <li class="list-group-item p-1 ">Public Gaia storage</li>

                                <li class="list-group-item p-1 ">Limited Support</li>
                                <li class="list-group-item p-1 ">Basic Analytics</li>
                                <li class="list-group-item p-1 ">No branding</li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Select</a>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 bg-gradient text-white">
                        <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">Enterprice</h3>
                        <p class="text-uppercase mb-0">(Coming Soon)</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="card-text  mb-2">
                            <span class="money text-shadow  text-45 font-weight-bold"><sup
                                    class="text-30 font-weight-normal">Custom Pricing</sup></span>
                            <span></span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 ">On Prem Deployment</li>
                                <li class="list-group-item p-1 ">Own Gaia Storage</li>
                                <li class="list-group-item p-1 ">Unlimited Signups</li>

                                <li class="list-group-item p-1">24/7 phone support</li>
                                <li class="list-group-item p-1">Analytics</li>
                                <li class="list-group-item p-1">Advanced branding</li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Contact Us</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
