<div class="header bg-gradient-blue pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
            
                
                  <h5 class="card-title text-uppercase text-muted mb-0">API Key-Production</h5>
                  <span class="h2 font-weight-bold mb-0">121</span>
                  <button class="btn btn-primary" type="button">Show</button>
             
            </div>
          </div>
        </div>


        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-6 mb-xl-2">
            <div class="card-body">
            
                
                  <h5 class="card-title text-uppercase text-muted mb-0">API Key-Developer</h5>
                  <span class="h2 font-weight-bold mb-0">121</span>
             
            </div>
          </div>
        </div>
  
           

      

      </div>
    </div>
  </div>
</div>
