<div class="header bg-gradient-blue pb-9 pt-6 py-7">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>


<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="col-md-9"></div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="mb-0">User Profile</h3>
              <hr>
            </div>
          </div>


        <div  style="border-radius: 0px;"  >
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
               
                  <img src="assets/images/account-circle.png" class="rounded-circle">
              </div>
            </div>
          </div>
        
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5" style="margin: 50px;">
                 
                  <div>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>Blockstack ID
                    </div>
                    <h3>
                      <span class="font-weight-light">{{userId}}</span>
                    </h3>
                    <span class="description">Did you save your Secret Key? <a href="https://app.blockstack.org/#/settings/secret-key">View Secret Key</a>
                   <br>  Once lost it’s lost forever, so save it somewhere you won’t forget.</span>
                  </div>
                
                </div>
              </div>
              
            </div>
  
            <div class="text-center">
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Company Email ID
              </div>
              <h3>
                devipriyapu@gmail.com
              </h3>
              <hr class="my-4" />
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Gaia Storage 
              </div>
              <div>
             
                <i class="ni education_hat mr-2"></i> <a href="https://explorer.blockstack.org/name/{{userId}}">https://explorer.blockstack.org/name/{{userId}}</a>
              </div>
             
            </div>
          </div>
        </div>


      </div>
    </div>
        </div>
        </div>
        </div>