.card-info
{
 width: 100%;
 background-color:#8b9af05c;
    //margin:20px;
     //align-items: center;
     margin-bottom: 20px;
     border-radius: 10px;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    border: 0;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.justify-content-around{
    width: 100%;
}

// .form-group{
//     width: 100%;
//     }

// .col-form-label{
//     width: 30%;
// }
form{
    width: 100%;
}

label{
    width: 40%;
}

input{
    
    width: 60%;
}

