/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "~ng-docx/assets/styles/theming.scss";
@include mat-core();

$palette-primary: (
    50: #F4EAEF,
    100: #E4CAD7,
    200: #D3A6BC,
    300: #C182A1,
    400: #B3688D,
    500: #A64D79,
    600: #9E4671,
    700: #953D66,
    800: #8B345C,
    900: #7B2549,
    A100: #FFBCD7,
    A200: #FF89B8,
    A400: #FF5699,
    A700: #FF3C8A,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    ),
);

$app-primary: mat-palette($palette-primary);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);
// Here we include the mix for ng-docx
@include ng-docx($palette-primary);