<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    
    <div class="bg-light border-right" id="sidebar-wrapper">
     
      <div class="sidebar-heading">Waitabit API Docs</div>
      <div class="list-group list-group-flush">
        <a routerLink="home"   class="list-group-item list-group-item-action bg-light">Getting Started</a>
        <a routerLink="about"  class="list-group-item list-group-item-action bg-light">Integration</a>
       
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
		<router-outlet></router-outlet>

	</div>
