<div class="header bg-gradient-blue pb-9 pt-6 py-7">
  <div class="container-fluid">
    <div class="header-body">


    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-10">
              <h3 class="mb-0">Waitlist Table</h3>
            </div>
            <div class="col-2"><button class="btn half-button btn-primary btn-lg active" (click)="export()"> Export
                Waitlist</button></div>
          </div>
        </div>
        <div *ngIf="!showRecords" class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Priority</th>
                <th scope="col">Email</th>
                <th scope="col">Referal Token</th>
                <th scope="col">Total Referered</th>
                <th scope="col">Signup At</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td style="text-align: center; vertical-align: middle; font-size: 18px;">No Records found</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="showRecords" class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Priority</th>
                <th scope="col">Email</th>
                <th scope="col">Referal Token</th>
                <th scope="col">Total Referered</th>
                <th scope="col">Signup At</th>
              </tr>
            </thead>
            <tbody>
              <!--<div *ngIf="!showRecords">
                <div> No Records Found</div>
              </div>-->
              <!-- <div *ngIf="showRecords"> -->
              <tr *ngFor="let item of waitListData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                <th scope="row">
                  {{ item.priority}}
                </th>
                <th>
                  <span class="mb-0 text-sm">{{ item.registered_email }}</span>
                </th>
                <th>
                  {{ item.referral_link}}
                </th>
                <th>
                  {{ item.noReferred}}
                </th>
                <th>
                  {{  item.createdAt | date:'dd/MM/yyyy' }}
                </th>
              </tr>
              <!-- </div> -->
            </tbody>
          </table>

        </div>



        <div class="card-footer py-4">
          <ngb-pagination [pageSize]="25" [collectionSize]="waitListData.length" [(page)]="page"
            aria-label="Default pagination"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>