<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML template</title>
	<link rel="stylesheet" href="CSS/TASK.CSS">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	
	
	
		<div class="container">
		<h4><br><i class="fas fa-book-open one"></i>&nbsp;<b>Vouchful</b></h4>
	</div><br>
	
	<div class="container">
		<div class="row">
			<div class="col" width="100%vw">
		        <button class="btn btn-success">it's free and coming soon</button><br><br>
		        <h1>Get Early access to <br> Email kit</h1><br>
		        <h4>Subscribe to the vouchful newsletter for the latest news <br> and Email kit updates straight to your inbox</h4><br>
	        </div>
			
		<div class="col" width="100vw"><img src="./TASK1.png" alt="" class="image" ></div>
	    </div> </div>
	    <div class="container border-box two" >
	    	<form action="" class="form-group">
	    	  <div class="row">
	    	  	 <div class="col-md-4"><input type="email" class="form-control" value="Enter your email address"></div>&nbsp;
	    	   <div class="col-md-4"><button class="btn btn-primary">Subscribe now</button></div>
	    	  </div>
		
	        <form> <br>
	         <p>Vouchful respects your privacy. No spam!</p>
	    </div><br>
	   
	    <div class="container border-box text-center">
	    	<h1>What's included in Email kit?</h1>
	    	<p>Email kit is a full design system helping you build beautiful responsive emails in a fraction of time.</p><br>
	    
	    </div>
	    <div class="container column">
	    		<div class="row">
	    		<div class="col-lg">
	    			<h4><i class="fas fa-sun one"></i>&nbsp;Guidelines</h4><br>
	    			<p>The most complete design <br>spec for email.</p>
	    			
	    		</div>
	    		<div class="col-lg">
	    			<h4><i class="far fa-image one"></i>&nbsp;Elements</h4><br>
	    			<p>All the common elements <br>to speed up development.</p>
	    		</div>
	    		<div class="col-lg">
	    			<h4><i class="fas fa-cubes one"></i>&nbsp;Components</h4><br>
	    			<p>A modular apporach to email <br> with pre-built components</p>
	    		</div>
	    		<div class="col-lg">
	    			<h4><i class="fas fa-inbox one"></i>&nbsp;Templates</h4><br>
	    			<p>Every type of email needed <br>for your product is included</p>
	    		</div>
	    	</div>
	    	</div><br>
	    	<div class="container">
	    <footer class="footer"><div class="row">
	    		<div class="col foot1">
	    			<i class="far fa-copyright"></i>&nbsp;2019&nbsp;Vouchful.All rights reserved. <a href="#">Privacy</a>
	    		</div>
	    		<div class="col foot2" >
	    		    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square"></i>&nbsp;&nbsp;</a>
	    			<a href="https://www.facebook.com/"><i class="fab fa-facebook"></i>&nbsp;&nbsp;</a>
	    			<a href="https://www.instagram.com/"><i class="fab fa-instagram"></i>&nbsp;&nbsp;</a>
	    			<a href="https://in.pinterest.com/"><i class="fab fa-pinterest-square"></i>&nbsp;&nbsp;</a>
	    			<a href=""><i class="fas fa-volleyball-ball"></i></a>
	    		
	    		</div>
	    	</div></footer>
	</div>
	
	
	 
</body>
</html>